<input type="text" id="new-todo" placeholder="What needs to be done?" />

<section id="main">
  <ul id="todo-list">
    {{#each}}
      <li>
        <input type="checkbox" class="toggle">
        <label>{{number}} - {{name}}</label><button class="destroy"></button>
      </li>
    {{/each}}
  </ul>

  <input type="checkbox" id="toggle-all">
</section>

<footer id="footer">
  <span id="todo-count">
    <strong>2</strong> todos left
  </span>
  <ul id="filters">
    <li>
      <a href="all" class="selected">All</a>
    </li>
    <li>
      <a href="active">Active</a>
    </li>
    <li>
      <a href="completed">Completed</a>
    </li>
  </ul>

  <button id="clear-completed">
    Clear completed (1)
  </button>
</footer>
